# Gradle
.gradle/
build/
local.properties
.idea/
*.iml
captures/
.externalNativeBuild
.cxx
*.apk
*.aab
*.aar
*.ap_
*.dex
*.class

# Capacitor
.capacitor/

# Node
node_modules/
dist/

# Misc
.DS_Store
*.log
.env
.env.local